{% if context_protocol_objects is defined %}
{% for object_group in context_protocol_objects.protocol_object_groups %}
object-group protocol {{ object_group.name }}
{% if object_group.description is defined %}
 description {{ object_group.description }}
{% else %}
{% endif %}
{% if object_group.objects is iterable %}
{% for object in object_group.objects %}
 protocol-object {{ object.object_name }}
{% endfor %}
{% else %}
{% endif %}
{% if object_group.group_objects is iterable %}
{% for group in object_group.group_objects %}
 group-object {{ group.group_object_name }}
{% endfor %}
{% else %}
{% endif %}
{% endfor %}
{% endif %}