---
{% set interface_name = namespace() %}
{% set found = namespace() %}
final_state:
{% 	if interface_description_state is iterable %}
{%      for key_int in interface_description_state -%}
{%          set found.tracker = false %}
{%          set interface_name = namespace(id=key_int.interface) %}
{%          for key_cdp in cdp_state -%}
{%              if key_int.interface == key_cdp.local_interface %}
  - interface: "{{ key_int.interface }}"
    interface_description: "{{ key_cdp.interface_description }}-{{ key_cdp.remote_interface }}"
{%                  set found.tracker = true %}
{%                  break %}
{%              endif %}
{%-         endfor %}
{%          if found.tracker == false %}
  - interface: "{{ interface_name.id }}"
    interface_description: "no_data_in_cdp"
{%              set found.tracker = true %}
{%          endif %}
{%-     endfor %}
{%  endif %}