{% if mgmt_acl.remark is defined and mgmt_acl.remark %}
access-list {{ aclNAME[0] }} remark {{ mgmt_acl.remark }}
{% endif %}
{% for acl in mgmt_acl.lines %}
{%   if acl.host is defined and acl.host|length %}
access-list {{ aclNAME[0] }} permit {{ acl.host }}
{%   endif %}
{%   if acl.network is defined and acl.network|length %}
access-list {{ aclNAME[0] }} permit {{ acl.network }} {{ acl.wilcard }}
{%   endif %}
{% endfor %}