"l3extLNodeP": {
    "attributes": {
        "descr": "",
        "dn": "uni/tn-{{ item.0.tenant }}/out-{{item.0.context}}_fatl3out/lnodep-{{ item.0.context }}_{{ item.1.peer_device }}_np",
        "name": "{{ item.0.context }}_{{ item.1.peer_device }}_np",
        "status": "created,modified"
    },
