hostname,tacacs-style,svr-grp name,svr-grp source int,svr-grp vrf,svr name,svr ip address,svr encryption key,authn-login,authn-enable,auths-exec,auths-commands,acc-exec,acc-connection,acc-commands,acc-system
{% for item in aaa_servers_facts %}
{{ inventory_hostname }},{{ aaa_servers_facts[0].aaa_servers.tacacs_style }},{{ aaa_server_group_facts[0].aaa_server_group.group_name }},{{ aaa_server_group_facts[0].aaa_server_group.source_interface }},{{ aaa_server_group_facts[0].aaa_server_group.vrf }},{{ item.aaa_servers.name | default(none) }},{{ item.aaa_servers.ip_address }},{{ item.aaa_servers.encryption_key }},{{ aaa_method_lists_facts[0].aaa_method_lists.authentication_login }},{{ aaa_method_lists_facts[0].aaa_method_lists.authentication_enable }},{{ aaa_method_lists_facts[0].aaa_method_lists.authorisation_exec }},{{ aaa_method_lists_facts[0].aaa_method_lists.authorisation_commands }},{{ aaa_method_lists_facts[0].aaa_method_lists.accounting_exec }},{{ aaa_method_lists_facts[0].aaa_method_lists.accounting_connection }},{{ aaa_method_lists_facts[0].aaa_method_lists.accounting_commands }},{{ aaa_method_lists_facts[0].aaa_method_lists.accounting_system }}
{% endfor %}