hostname,username,privilege,encryption,password_string
{% for item in asa_multiple_local_accounts_facts %}
{{ inventory_hostname }},{{ item.user_account.username }},{{ item.user_account.privilege }},{{ item.user_account.encryption }},{{ item.user_account.password_string }}
{% endfor %}