banner exec ^C



**********************************************************************

*********************      WILLIAM HILL PLC      *********************

**********************************************************************

   UNAUTHORIZED ACCESS TO THIS FACILITY IS STRICTLY PROHIBITED. ANY
    VIOLATORS WILL BE PROSECUTED TO THE FULLEST EXTENT OF THE LAW.

**********************************************************************

^C
banner login ^C



                      THIS DEVICE IS PART OF A
                      ------------------------

                          PRIVATE NETWORK
                          ---------------


           ************************************************
           * Unauthorised access or use of this equipment *
           *   is prohibited and constitutes an offence   *
           *     under the Computer Misuse Act 1990.      *
           *    If you are not authorised to use this     *
           *     system, terminate this session now.      *
           ************************************************

^C
!