{% for line in line_vty.line_num %}
line vty {{ line }}
 access-class {{ line_vty.vty_acl }} in vrf-also
 exec-timeout {{ line_vty.timeout_mins }} 0
 privilege level 15
 logging synchronous
 transport input {{ line_vty.transport_input }}
{% endfor %}

