!
flow record network_traffic
 match ipv4 protocol
 match ipv4 source address
 match ipv4 destination address
 match transport source-port
 match transport destination-port
 match interface input
 collect routing source as 4-octet
 collect routing destination as 4-octet
 collect ipv4 dscp
 collect interface output
 collect flow direction
 collect counter bytes long
 collect counter packets long
 collect timestamp sys-uptime first
 collect timestamp sys-uptime last
!
!
flow record network_traffic_retail
 match ipv4 protocol
 match ipv4 source address
 match ipv4 destination address
 match transport source-port
 match transport destination-port
 match interface input
 collect routing source as 4-octet
 collect routing destination as 4-octet
 collect interface output
 collect counter bytes long
 collect counter packets long
 collect timestamp sys-uptime first
 collect timestamp sys-uptime last
!
!
flow exporter nfa_export
 description CA_NFA_Harvester
 destination 10.120.163.71 vrf group-vrf
 source Loopback20
!
!
flow exporter nfa_export_retail
 description Retail_export
 destination 10.120.163.206 vrf group-vrf
 source Loopback20
 transport udp 9991
!
!
flow monitor nfa_monitor
 exporter nfa_export
 cache timeout active 60
 cache entries 200000
 record network_traffic
!
!
flow monitor nfa_monitor_retail
 exporter nfa_export_retail
 cache timeout active 60
 cache entries 200000
 record network_traffic_retail
!
!