---

interface_status_state:
{% for key,value in pyats_version.items() %}
{%  if key == "interfaces" %}
{%   for interface in value %}
{% 	    if value[interface].status == "connected" %}
  - interface: "{{ interface }}" 
    state_state: "{{ value[interface].status }}"
{% 	    endif %}
{%   endfor %}
{% 	endif %}
{% endfor %}