rule,display name,action,source,dest,service
{% for rule in data %}
{{rule}},{{data[rule]['Display name']}},{{data[rule]['Action']}},"{% for src in data[rule]['Source(s)'] %}{% if src == "ANY" %}{{src}}{% elif loop.last %}{% for srcip in data[rule]['Source(s)'][src] %}{{srcip}}{% if not loop.last %}

{% endif %}{% else %}{% for srcip in data[rule]['Source(s)'][src] %}{{srcip}}
{% endfor %}{% endfor %}{% endif %}{% endfor %}","{% for dst in data[rule]['Destination(s)'] %}{% if dst == "ANY" %}{{dst}}{% elif loop.last %}{% for dstip in data[rule]['Destination(s)'][dst] %}{{dstip}}{% if not loop.last %}

{% endif %}{% else %}{% for dstip in data[rule]['Destination(s)'][dst] %}{{dstip}}
{% endfor %}{% endfor %}{% endif %}{% endfor %}","{% for svc in data[rule]['Service(s)'] %}{% if svc == "ANY" %}{{ svc }}{% elif loop.last %}{% for svcpt in data[rule]['Service(s)'][svc] %}{{svcpt}}{% if not loop.last %}

{% endif %}{% endfor %}{% endif %}{% endfor %}"
{% endfor %}